@font-face {
  font-family: "montserratlight";
  src: url("../fonts/Montserrat-Light.woff") format("woff"),
   url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myriadProRegular";
  src: url("../fonts/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoBold";
  src: url("../fonts/Roboto-Bold.woff") format("woff"),
  url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "robotoMedium";
  src: url("../fonts/Roboto-Medium.woff") format("woff"),
  url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "openSansBold";
  src: url("../fonts/opensans-bold.woff") format("woff"),
  url("../fonts/opensans-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "openSansRegular";
  src: url("../fonts/opensans-regular.woff") format("woff"),
  url("../fonts/opensans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "openSansSemibold";
  src: url("../fonts/opensans-semibold.woff") format("woff"),
  url("../fonts/opensans-semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}