$ff-logo:"robotoMedium"; /* ЛОГОТИП */
$ff-btn:"openSansSemibold"; /* КНОПКИ */
$ff-summerCol:"robotoBold";/*SUMMER COLLECTION*/
$ff-off:"robotoMedium"; /*OFF*/
$ff-titleSections:"openSansBold"; /* ЗАГОЛОВКИ РАЗДЕЛОВ */
$ff-priceWatches:"myriadProRegular";  /* КАРТОЧКИ ТОВАРОВ - ЦЕНЫ (ЧАСЫ) */
$ff-priceBags:"openSansSemibold"; /*  КАРТОЧКИ ТОВАРОВ - ЦЕНЫ (СУМКИ) */
$ff-descCard:"openSansRegular";/* КАРТОЧКИ ТОВАРОВ - ОПИСАНИЕ (ЧАСЫ И СУМКИ) */
$ff-descBrands:"openSansRegular"; /* ТЕКСТ РАЗДЕЛА БРЕНДЫ */
$ff-likeComment:"openSansRegular";/*ЛАЙКИ+КОММЕНТАРИИ*/
$ff-form:"openSansRegular";/*ФОРМА*/
$ff-nav:"openSansSemibold"; /* НАВИГАЦИЯ ЧАСОВ И ФУТЕР */
$ff-footer-copyright:"montserratlight"; /* КОПИРАЙТИНГ*/